body {
    font-family: 'Prompt', sans-serif;
}

.navbar {
    background-color: #08192d !important;
    padding: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px !important;
}

header {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #080d15;
    opacity: .4;
}

.header-title {
    font-size: 65px;
    padding-bottom: 20px;
}

.header-subtitle {
    font-size: 18px;
}

.header-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 500;
    min-width: 195px;
    padding: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #fc0254;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.logo-company {
    width: 100%;
}

.text-white {
    color: white;
}

.text-primary {
    color: #0a183d !important;
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background-color: #0a183d !important;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

button:hover { 
    color: #fc0254 !important;
    background: #FFFFFF !important; 
}

/*
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
*/

@media only screen and (max-width: 991px) {
    .showcase .showcase-text {
        padding-left: 10px !important;
    }
}

@media only screen and (max-width: 767px) {
    .header-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 575px) {
    .logo-company {
        width: 200px;
    }
}