body {
    font-family: 'Prompt', sans-serif;
}

.navbar {
    background-color:#0a183d !important;
    padding: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px !important;
}

nav.top-nav-collapse {
    transition: all 300ms ease-in-out;
    background-color:#0a183d !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #FBA100 !important
}

header {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

.header-title {
    font-size: 65px;
}

.header-subtitle {
    font-size: 18px;
}

.view-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    padding: 0.75rem 1.75rem;
    border-radius: 50px;
    text-transform: uppercase;
    /*background: #fc0254;*/
    background: #FBA100;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.learn-more-btn {
    display: inline-block;
    border: none;
    font-weight: 500;
    min-width: 195px;
    border-radius: 50px;
    text-transform: uppercase;
    background: #FBA100;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}

.logo-company {
    width: 100%;
}

.text-white {
    color: white;
}

.text-primary {
    color: #0a183d !important;
}

.bg-white {
    background-color: white;
}

.bg-primary {
    background-color: #0a183d !important;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.view-btn:hover { 
    /*color: #fc0254 !important;
    background: #FFFFFF !important;*/
    color: #FBA100 !important;
    background: #FFFFFF !important;
}

.v-center {
    display: flex;
    align-items: center;
}

ol.circle {
    list-style: none;
    counter-reset: item;
    padding: 0px;
  }
 
  ol.circle > li{
    counter-increment: item;
    margin-bottom: 5px;
  }
 
 ol.circle > li:before {
    margin-right: 10px;
    content: counter(item);
    background: #0a183d;
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
  }
  
  .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
    }
    
    .modal-body {
        position:relative;
        padding:0px;
    }

    .close {
        position:absolute;
        right: -30px;
        top: -30px;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
/*
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
*/

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.sub-title {
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-color: #2c212b;
    margin-top: 65px;
    padding: 30px 0;
    background-image: url(https://images.pexels.com/photos/310479/pexels-photo-310479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    width: 99%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-title .container {
    margin-top: 125px;
    margin-bottom: 125px;
}

.sub-title h1 {
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.card {
    margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
    .showcase .showcase-text {
        padding-left: 10px !important;
    }

    .desc {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-title {
        font-size: 42px;
    }
}

@media only screen and (max-width: 575px) {
    .logo-company {
        width: 200px;
    }
}